<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div id="header-logo-div" tabindex="1">
        <img src="starfleet-logo.png" alt="Starfleet Logo" title="Starfleet Logo" />
    </div>
    <div id="header-address" tabindex="2">
        <span>To: {{.firstname}} {{.lastname}}</span>
        <span>{{.address1}}</span>
        <span>{{.address2}}</span>
        <span>{{.address3}}</span>
    </div>
    <div id="letter-body" tabindex="3">
        <span>Dear {{.firstname}}</span>
        <span>
            We are pleased to inform you that your application to Starfleet Academy has been accepted. Your next steps
            will be to take the Entrance Competition Exams, attend the Summer Prepatory Summer Program, and finally
            take your Entrance Exam.
        </span>
        <span>
            The Entrance Competition Exams will begin on {{.examdate}}. We await your reply no later than {{.replydate}}
            to reserve your spot.
        </span>
    </div>
    <div id="letter-close">
        <span>
            Sincerely,
        </span>
        <div>
            <img src="signature.png" alt="Rear Admiral Brand signature" title="Reat Admiral Brand Signature" />
        </div>
        <span>
            Rear Admiral Brand
        </span>
        <span>
            Superintendent
        </span>
        <span>
            Live long and prosper.
        </span>
    </div>
</body>

</html>